* {
	min-height: 0;

	font-family: "Liberation Mono";
	font-size: 9pt;
	color: #ffffff;
}

window#waybar {
	background: rgba(.6, .6, .6, .4);
}

window#waybar > * {
	/* Doesn't work when set on the window */
	padding-bottom: 1px;
	padding-top: 1px;
}

#clock {
	margin-left: 1em;
	margin-right: 1em;
}

#workspaces button {
	min-width: 2.3em;
	padding: 0;
}

#workspaces button.focused {
	min-width: 2.3em;
	padding: 0;
	background: #fcb553;
	border-radius: 0;
}
